.header {
    height: 190px;
    display: flex;
    align-items: center;
    composes: backgroundColor from './../../App.module.css';
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.menu > ul {
    display: flex;
}

.item {
    margin-left: 40px;
}

.item:first-child {
    margin-left: 0;
}

.link {
    font-size: 18px;
    composes: textColor from './../../App.module.css';
    transition: all .3s;
}

.hamburger {
    width: 50px;
    height: 50px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    z-index: 6;
}

.line {
    height: 4px;
    width: 80%;
    background: #fff;
    border-radius: 6px;
    transition: all .3s;
}

.hamburger.active > .line:nth-child(1) {
    transform: rotate(45deg) translate(9px, 9px);
}

.hamburger.active > .line:nth-child(2) {
    opacity: 0;
}

.hamburger.active > .line:nth-child(3) {
    transform: rotate(-45deg) translate(10.5px, -9.5px);
}

.menu.active {
    transform: translateX(0);
}

@media screen and (max-width: 850px) {
    .menu {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        width: 50%;
        height: 100vh;
        background: rgba(0, 0, 0, .8);
        position: fixed;
        top: 0;
        right: 0;
        transition: all .5s;
        padding-left: 20px;
        z-index: 6;
        transform: translateX(calc(100% + 50px));
    }

    .hamburger {
        display: flex;
    }

    .menu > ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .item {
        margin-bottom: 20px;
    }
    
    .item:last-child {
        margin-bottom: 0;
    }

    
    .item > a:hover {
        background: transparent;
        color: #fff;
    }
}

@media screen and (max-width: 400px) {
    .menu {
        width: 100%;
    }
}