.courses {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses > div {
    width: calc(100% - 70px);
}

.slide {
    composes: backgroundColor from '../../App.module.css';
}

.heading {
    display: flex;
    flex-direction: column;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 40px;
    composes: activeColor from '../../App.module.css';
}

.heading > span {
    padding-top: 10px;
    display: inline-block;
    width: 177px;
    border-bottom: 2px solid #fff;
}

.subheading {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 30px;
    composes: textColor from '../../App.module.css';
}

.text {
    font-size: 20px;
    composes: textColor from '../../App.module.css';
}

.circle {
    padding: 10px 0;
    display: inline-block;
    position: relative;
}

.circle::before {
    content: '';
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%) rotate(135.07deg);
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: linear-gradient(102.78deg, #255046 -16.29%, rgba(37, 80, 70, 0) 70.3%);
}

.button {
    border: 2px solid #088C7F;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
}

.button > img {
    width: 60%;
    transform: rotate(-90deg);
}

.list {
    padding-left: 20px;
    margin-top: 30px;
}

.list > li {
    list-style: decimal;
    margin-bottom: 20px;
}

.list > li:last-child {
    margin-bottom: 0;
}

.block {
    display: flex;
    justify-content: space-between;
}

.item {
    width: 48%;
}

.label {
    font-size: 25px;
    margin-bottom: 20px;
}